body {
    font-family: Times New Roman;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

